/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    /*background:url(../Content/images/background-page.jpg) no-repeat;*/
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1200px;
    background-color: #fff;
    /*background-color: white;*/
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    /*background: #4b6c9e;*/
    background: white;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    /*color: #f9f9f9;*/
    color: black;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    /*color: White;*/
    color: black;
}

.loginDisplay a:link
{
    /*color: white;*/
    color: black;
}

.loginDisplay a:visited
{
    /*color: white;*/
    color:Black;
}

.loginDisplay a:hover
{
    /*color: white;*/
    color:Black;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.group
{
    text-align:left;
    background-color:#736F6E;
    color:white;
    font-size:small;
}

.budgetCol
{
    background-color:#6D7B8D;
    color:White;
}

.managerCol
{
    background-color:#357EC7;
    color:White;
}

.specialistCol
{
    background-color:#4863A0;
    color:White;
}

.listviewHeader th
{
    text-align:center;
    background-color:#646D7E;
    color:white;
    font-size:medium;
    border-style:solid;
    border-width:1px;
    border-color: white;
}

.editrow
{
    background-color: #7E354D;
    color:White;
    text-align:right;
}

.listviewtable
{
    background-color: #F7F6F3;
    border-collapse: collapse;
    border-color: #999999;
    border-style:none;
    border-width:1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align:right;
}

.listviewtable tr td
{
    border-style:solid;
    border-width:1px;
    border-color: #6D7B8D;
}

.listviewFooter
{
    background-color:#463E41;
    text-align:right;
    color:White;
    border-style:solid;
    border-width:1px;
    border-color:black;
    font-size:small;
    /*font-weight:bold;*/
}

.hidden 
{
    display:none;
    visibility:hidden;
}

.segment
{
    text-align:left;
    white-space:nowrap;    
}

.enterprise 
{
    text-align:left;
    white-space:nowrap;
}

.customer
{
    text-align:left;
}

.opportunitytable
{
    background-color: #F7F6F3;
    border-collapse: collapse;
    border-color: #999999;
    border-style:none;
    border-width:1px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align:left;
}

.opportunityheader
{
    text-align:center;
    background-color:#646D7E;
    color:white;
    font-weight:bold;
}

.opportunityfooter
{
    background-color: #F7F6F3;
    font-weight:bold;
    text-align:center;
}

/* model popup */
.modalBackground
{
  background-color:#CCCCFF;
  filter:alpha(opacity=40);
  opacity:0.5;
}
 
 
.ModalWindow
{
  /*border: solid1px#c0c0c0;*/
  background:#f0f0f0;
  border-width:3px; 
  border-style:solid; 
  border-color:Gray; 
  padding:3px; 
  position:absolute;
  top:-1000px;
  overflow:auto;
  height:900px;
}

.ModalWindowAR
{
  /*border: solid1px#c0c0c0;*/
  background:#f0f0f0;
  border-width:3px; 
  border-style:solid; 
  border-color:Gray; 
  padding:3px; 
  position:absolute;
  top:-1000px;
  overflow:auto;
  height:900px;
  width: 1024px;
}

.cust 
{
    background-color: #98AFC7;
    color:black;
}

.gridviewCurrency
{
    text-align:right;
}

/* accordion */
.accordion {  
    width: 100%;    
}  
          
.accordionHeader {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #2E4d7B;  
    font-family:Monospace;
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;  
    display: table; 
    width: 100%
}  
          
.accordionHeaderSelected {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #5078B3;  
    font-family:Monospace;
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;  
}  
          
.accordionContent {  
    background-color: white;  
    border: 1px dashed #2F4F4F;  
    border-top: none;  
    padding: 5px;  
    padding-top: 10px;  
}  

/* sub-accordion */

.subaccordion {  
    width: 100%;  
}  
          
.subaccordionHeader {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #2E4d7B;  
    font-family:Monospace;
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;  
}  
          
.subaccordionHeaderSelected {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #5078B3;  
    font-family:Monospace;
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;  
}  
          
.subaccordionContent {  
    background-color: #D3DEEF;  
    border: 1px dashed #2F4F4F;  
    border-top: none;  
    padding: 5px;  
    padding-top: 10px;  
    font-size:10px;
}  

/* Collapsible Panel */

.collapsePanel {
    /*width: 1024px;*/
    height:0px;
    background-color:white;
    overflow:hidden;
    font-size:10px;
}
 
.collapsePanelHeader{   
    /*width:100%;  */         
    height:15px;
    color: white;
    background-color: #2E4d7B;
    font-size: 10px;  
    font-weight: bold;  
    font-family:Monospace;
    float:none;
    padding:2px; 
    cursor: pointer; 
    vertical-align: middle;
}

.collapsePanelFilter
{
    height:0px;
    background-color:white;
    overflow:hidden;
    font-size:10px;
    background-color: #D3DEEF;  
    font-weight:bold;
}

.vertical
{
    /*writing-mode: tb-rl;
    filter: flipV flipH;
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);*/
	border-style:solid;
	border-width: 1px 1px 1px 1px;
	border-color:White;
	font-family:Tahoma;
	height:50px;
}

.grid_RowStyle
{
    border-style:solid;
	border-width: 1px 1px 1px 1px;
	font-family:Tahoma;
}

/* combo box styling */

.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
        margin: 0;
        border: solid 1px #7F9DB9;
        border-right: 0px none;
        padding: 1px 0px 0px 5px;
        font-size: 13px;
        height: 18px;
        position: relative;       
}

.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
        margin: 0;
        padding: 0;
        background-image: url(windows-arrow.gif);
        background-position: top left;
        border: 0px none;
        height: 21px;
        width: 21px;
}

.WindowsStyle .ajax__combobox_itemlist
{
    border-color: #7F9DB9;
}

/* Validation summary */

.errors {
 border: 2px solid red;
 color: red;
 margin: 5px 0px;
 padding: 15px;
 background: #fff url(../images/sad_server.gif) no-repeat 5px 50%;
}

.errors ul {
 margin: 0;
 padding: 0;
 margin-left: 80px;
 list-style: square;
}

.MyImageButton
{
    cursor: hand;
}

.EditFormHeader td
{
    font-size: 14px;
    padding: 4px !important;
    color: #0066cc;
}

html,
body,
form
{
	min-height:100%; /*all except IE6*/
	margin:0;
	padding:0;
}

* html html,
* html body,
* html form
{
	height:100%; /*IE6 only*/
}

/* Autocomplete QLT*/

.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : inherit ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    width:500px!important;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #ffff99 ;
    color : black ;
    padding : 1px ;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : window ;
    color : windowtext ;
    padding : 1px ;
   }

.textboxWidth
{
    width:500px;
}
.smallTextboxWidth
{
    width:250px;
}
.disabled
{
    background-color:lightgrey;
}